{:paths ["src"]

 :aliases
 {:dev  {:extra-deps {hashp/hashp {:mvn/version "0.2.2"}}
         :main-opts  ["-e" "(require 'hashp.core)"]}

  :test {:extra-paths ["test"]
         :extra-deps  {lambdaisland/kaocha {:mvn/version "1.87.1366"}}
         :main-opts   ["-m" "kaocha.runner"]}}}
